*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    box-sizing: border-box;
}

:root{
    --primary: #802ce4;
    --secondary: #5004a4;
}